<table class="table table-sm rounded">
  <thead class="rounded">
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">País</th>
      <th class="text-center" scope="col">Puntos</th>
      <th class="text-center" scope="col">GF</th>
      <th class="text-center" scope="col">GC</th>
      <th class="text-center" scope="col">+/-</th>
    </tr>
  </thead>
  <tbody>
    {% for team in teams %}
      {% if team.pos > 5 %}
      <tr class="table-success">
        <th class="text-center" scope="row">{{ team.pos }}</th>
        <td class="text-center">{{ team.name }}</td>
        <td class="text-center">{{ team.points }}</td>
        <td class="text-center">{{ team.goals_for }}</td>
        <td class="text-center">{{ team.goals_against }}</td>
        <td class="text-center">{{ team.goals_for - team.goals_against }}</td>
      </tr>
      {% elif team.pos == 5 %}
      <tr class="table-warning">
        <th class="text-center" scope="row">{{ team.pos }}</th>
        <td class="text-center">{{ team.name }}</td>
        <td class="text-center">{{ team.points }}</td>
        <td class="text-center">{{ team.goals_for }}</td>
        <td class="text-center">{{ team.goals_against }}</td>
        <td class="text-center">{{ team.goals_for - team.goals_against }}</td>
      </tr>
      {% elif team.pos < 5 %}
      <tr class="table-danger">
        <th class="text-center" scope="row">{{ team.pos }}</th>
        <td class="text-center">{{ team.name }}</td>
        <td class="text-center">{{ team.points }}</td>
        <td class="text-center">{{ team.goals_for }}</td>
        <td class="text-center">{{ team.goals_against }}</td>
        <td class="text-center">{{ team.goals_for - team.goals_against }}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>